*{
    scroll-behavior: smooth;
}
#header2 {
    background-color: pink;
}
.paris {
    background-color: beige;
}
.capital{
    color: red;
}
#Ottawa{

}
.lorem{
    padding-left:5px;
    padding-right:5px;
    padding: 0px, 5px;
    border-top:2px solid black;
    border-bottom:4px solid gray;
}
.filler{
    border:10px ridge lightgreen;
    margin: 5px;
}